@charset "utf-8";


html, body
{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #ff8f00;    
}


.container
{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    padding-left: 20px;
}

.container.first
{
    width: 30%;
}

main.second
{
    display: flex;
    flex-direction: column; 
    flex-wrap: nowrap; 
    width: 70%;
    margin: 0;
}

h5
{
    font-size: 30px; 
    margin: 0; 
    padding-bottom: 5px;
}

img
{
   width: 250px; 
   height: 150px;
}


#flag
{
 padding-bottom: 10px;  
}

#area
{
    padding-bottom: 10px;
}

button
{
    color: rgb(19, 51, 197);
    font-weight: bolder;
}



/* ===============================
	Mobile Styles up to 511 pixels
   ===============================
*/
	
@media only screen and (max-width: 511px)
{
   .container
   {
      flex-direction: column;
      align-items: center;
      padding: 0;

   }


    h1, h4, h5
    {
    font-size: 20px;
    }

    .first, .second
    {
        display: flex;
        flex-direction: column;
    }
}


